extends layout

block content
  h1= title
  p
    b Nombre:
    span=nombre
    br
    b Apellidos:
    span!=apellidos
    br
    a(href="/") Volver
  p Hola #{nombre}, te apellidas !{apellidos}, es lo que
    | me has mandado
